---
import Card from '../components/Card.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Home" description="Landing page for my site">
  <Card title="Welcome">
    <p>
      Hi there, my name is Fraser McLean and I am a software engineer. This is
      my personal site.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus,
      harum. Sit modi neque voluptas, obcaecati quod nihil enim perspiciatis,
      eveniet quo excepturi minus illum ratione sed ea explicabo sapiente amet!
      Omnis fugiat enim quibusdam? Modi earum, iusto voluptates dolore dolor cum
      quibusdam magni accusantium quia veritatis, at voluptas quam blanditiis,
      velit ab voluptatem. Harum qui numquam voluptatem, exercitationem impedit
      perspiciatis quasi magni quas aperiam ipsam quam aut saepe incidunt. Error
      animi excepturi, vitae modi quas laborum nostrum distinctio nisi
      recusandae nihil corrupti beatae tempora blanditiis qui sequi iusto eum
      atque consectetur dolor repudiandae voluptates ipsa placeat! Sapiente
      ratione sint soluta voluptates dolores nobis repellat illo tempora fugiat,
      quibusdam vel odit quia omnis doloribus libero temporibus corporis laborum
      eaque! Perspiciatis dignissimos molestias incidunt cupiditate! Quos alias
      saepe magnam nobis. Molestias ex mollitia accusamus animi, eligendi, quos
      et provident magni numquam excepturi repellendus, eius sit voluptatem
      nihil error magnam aspernatur a quo pariatur rem? Vitae sequi perferendis
      esse modi laboriosam rerum! Laboriosam esse placeat saepe fuga aspernatur,
      deserunt assumenda minus, vero vitae itaque enim soluta omnis, voluptatem
      natus qui tenetur ex neque cumque ipsam consectetur magni? Officia dolores
      tempora, a labore voluptatibus delectus. Eius autem doloribus quos nam eum
      ex molestiae iusto?
    </p>
  </Card>
</BaseLayout>

<style>
  p {
    margin-bottom: 1rem;
  }
</style>
