---
import Card from '../components/Card.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Home" description="Landing page for my site">
  <Card title="Welcome">
    <p>
      Hi there, my name is Fraser McLean and I am a software engineer. This is
      my personal site.
    </p>
  </Card>
</BaseLayout>
