---
import { SITE_DESCRIPTION, SITE_TITLE } from '@/constants';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <p>Hi there, my name is Fraser McLean and I am a software engineer. This is my personal site.</p>
</BaseLayout>

<style>
  p {
    margin-bottom: 1rem;
  }
</style>
