---
import Link from './Link.astro';
import SocialLinks from './SocialLinks.astro';
---

<footer class="mx-auto max-w-6xl px-4 mb-4 flex items-center justify-between">
  <section>
    <p class="text-xl mb-2">&copy; 2025 Fraser McLean</p>
    <p class="text-sm">
      Built with <Link href="https://astro.build" target="_blank">Astro</Link>, source code available on
      <Link href="https://github.com/frasermclean/personal-site-astro" target="_blank">GitHub </Link>
    </p>
  </section>

  <section>
    <p class="text-xl text-right mb-2">Let's connect!</p>
    <SocialLinks />
  </section>
</footer>
