---
import SocialLinks from './SocialLinks.astro';
---

<footer class="px-8 mb-4 flex items-center justify-between">
  <section>
    <p class="text-xl mb-2">&copy; 2025 Fraser McLean</p>
    <p class="text-sm">
      Built with <a
        class="underline hover:text-teal-400"
        href="https://astro.build">Astro</a
      >, source code available on <a
        class="underline hover:text-teal-400"
        href="https://github.com/frasermclean/personal-site-astro">GitHub</a
      >
    </p>
  </section>

  <section>
    <p class="text-xl text-right mb-2">Let's connect!</p>
    <SocialLinks />
  </section>
</footer>
