---
import Avatar from './Avatar.astro';
---

<header class="mt-2 mb-4">
  <a href="/">
    <Avatar />
  </a>

  <p class="mt-2 text-2xl font-semibold text-neutral-200">Fraser McLean</p>
  <p class="text-md text-neutral-300">
    Adventures in the world of software development
  </p>
</header>
