---
import Avatar from './Avatar.astro';
---

<header>
  <div class="mb-6">
    <a href="/">
      <Avatar />
    </a>
  </div>

  <p class="text-2xl font-semibold">Fraser McLean</p>
  <p class="text-md">
    Software engineer, open-source advocate, and tech enthusiast.
  </p>
</header>
