---
import SocialLinks from './SocialLinks.astro';
---

<aside class="p-4 flex flex-col gap-6 w-full md:h-full md:w-64">
  <div>
    <p>
      Hi there, I'm Fraser. I am software engineer, open-source advocate, and
      tech enthusiast.
    </p>
  </div>
  <section>
    <p class="text-xl mb-2">Let's connect!</p>
    <SocialLinks />
  </section>
</aside>
