---
import HomeIcon from '../assets/icons/home.svg';
import MailIcon from '../assets/icons/mail.svg';
import UserIcon from '../assets/icons/user.svg';

const links = [
  {
    name: 'Home',
    url: '/',
    icon: HomeIcon,
  },
  {
    name: 'About Me',
    url: '/about-me',
    icon: UserIcon,
  },
  {
    name: 'Contact Me',
    url: '/contact-me',
    icon: MailIcon,
  },
];
---

<ol class="flex flex-col gap-6 text-sm text-neutral-200">
  {
    links.map((link) => (
      <li>
        <a
          title={link.name}
          href={link.url}
          class:list={[
            'flex gap-4 hover:text-blue-300',
            {
              'font-semibold': Astro.url.pathname === link.url,
            },
          ]}
        >
          <link.icon />
          <span>{link.name}</span>
        </a>
      </li>
    ))
  }
</ol>

<style>
  .active-link {
    color: red;
  }
  .icon-tabler {
    stroke-width: 1;
  }
</style>
