---
import Headshot from './Headshot.astro';
import NavigationLinks from './NavigationLinks.astro';
import SocialLinks from './SocialLinks.astro';
---

<aside class="p-4">
  <Headshot />
  <div class="mt-2">
    <p class="text-2xl font-semibold text-neutral-200">Fraser McLean</p>
    <p class="text-md text-neutral-300">Personal website of Fraser McLean</p>
  </div>

  <NavigationLinks />
  <SocialLinks />
</aside>
