---
import GitHubIcon from '../assets/icons/github.svg';
import InstagramIcon from '../assets/icons/instagram.svg';
import LinkedInIcon from '../assets/icons/linkedin.svg';
import YouTubeIcon from '../assets/icons/youtube.svg';
import Link from './Link.astro';

const items = [
  {
    name: 'GitHub',
    url: 'https://github.com/frasermclean',
    Icon: GitHubIcon,
  },
  {
    name: 'LinkedIn',
    url: 'https://www.linkedin.com/in/frasermclean/',
    Icon: LinkedInIcon,
  },
  {
    name: 'Instagram',
    url: 'https://www.instagram.com/frasermclean81/',
    Icon: InstagramIcon,
  },
  {
    name: 'YouTube',
    url: 'https://www.youtube.com/@FraserMcLean81',
    Icon: YouTubeIcon,
  },
];
---

<ol class="flex gap-4">
  {
    items.map((item) => (
      <li>
        <Link title={item.name} href={item.url} target="_blank" rel="me">
          <item.Icon width="28" height="28" stroke-width="1.33" />
        </Link>
      </li>
    ))
  }
</ol>
