---
import Head from '@/components/Head.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} description={description} />
  <body>
    <Header />
    <main class="mx-auto max-w-6xl px-4 py-16">
      <slot />
    </main>
    <Footer />
  </body>
</html>
